/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
html {
  font-family: Quicksand;
  color: #fff;
}

/* ******************************** */

/* Colores */
:root {
  --color-background: #f6f6f6;
}

/* ******************************** */
body {
  background-color: var(--color-background);
}

/* HEADER */
/* contenedor de todo */
#container {
}

/* contenido de header */
header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Escritorio */
  @media only screen and (min-width: 1000px) {
    display: block;
    height: 700px;
  }

  /* Figure */
  & .header__imagenFondo {
    display: flex;
    align-items: end;

    width: calc(100vw - 10%);
    height: 40%;
    border-radius: 20px;
    border: 12px solid #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* Escritorio */
    @media only screen and (min-width: 1000px) {
      width: 100%;
      height: 100%;
      border: 0;
      border-radius: 0;
      box-shadow: none;
    }

    /* Retina Display */
    /* Móvil */
    @media only screen and (min-width: 320px) and (max-width: 500px) and (orientation: portrait) {
      @media (-webkit-min-device-pixel-ratio: 1) {
        background-image: url(../img/smartphone/S_bannerDescuento.webp);
      }

      @media (-webkit-min-device-pixel-ratio: 2) {
        background-image: url(../img/smartphone/S_bannerDescuento@2x.webp);
      }

      @media (-webkit-min-device-pixel-ratio: 3) {
        background-image: url(../img/smartphone/S_bannerDescuento@3x.webp);
      }
    }

    /* Escritorio */
    @media only screen and (min-width: 1000px) {
      /* Altura común para ambos casos */
      background-image: url(../img/desktop/D_bannerDescuento.webp);
      @media (-webkit-max-device-pixel-ratio: 2) {
        background-image: url(../img/desktop/D_bannerDescuento@2x.webp);
      }
    }

    /* Figcaption */
    & .header__texto {
      width: 100%;
      height: 50%;
      padding: 0 20px;
      border-radius: 10px 20px;
      background: rgba(66, 103, 18, 0.3);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      /* Escritorio */
      @media only screen and (min-width: 1000px) {
        align-items: start;
      }

      & .header__titulo {
        font-size: 77.6px;
        @media screen and (min-width: 1000px) {
          font-size: 188.994px;
        }
        font-weight: 400;
      }
      & .header__descuento {
        font-size: 35px;
        @media screen and (min-width: 1000px) {
          font-size: 85.242px;
        }
        font-weight: 400;
        text-align: center;
      }
      & .header__tiendas {
        font-size: 20px;
        font-weight: 300;
        padding: 5px;
        border: 1px solid #fff;

        /* Escritorio */
        @media only screen and (min-width: 1000px) {
          display: none;
        }
      }
    }
  }
}

/* main */
main{
  text-align: center;
}
.main__tiendas {
  display: none;
  /* Escritorio */
  @media only screen and (min-width: 1000px) {
    display: inline-block;
    color: #9a9a9a;
    border: 1px solid #9a9a9a;
    text-align: center;
    font-size: 48px;
    font-weight: 300;
    padding: 5px;
    margin: 20px 0;
  }
}
